<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="basePath">./logs</Property>
	</Properties>

	<Appenders>
		<RollingFile name="fileLogger"
			fileName="${basePath}/automation.log"
			filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info" >
			<appender-ref ref="fileLogger" />
		</Root>
	</Loggers>
</Configuration>